<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- https://developer.mozilla.org/en-US/docs/Web/HTML/Element/meta -->
        <meta charset="utf-8"/>
        <meta content="initial-scale=1, width=device-width" name="viewport"/>

        <!-- documentation at http://getbootstrap.com/, alternative themes at https://www.bootstrapcdn.com/bootswatch/ -->
        <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.1/lumen/bootstrap.min.css">

        <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet"/>

        <!-- http://jquery.com/ -->
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>


        <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>

        <!-- app's own JavaScript -->
        <script src="/static/scripts.js"></script>

        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

        <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

        <title>TGP for Tennis</title>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ url_for('index') }}">TGP</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="true" aria-label="Toggle navigation" style="">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse" id="navbarColor01" style="">
                {% if session.user_id %}
                        <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('tournaments') }}">
                                List of Tournament<span class="sr-only">(current)</span>
                            </a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('new_tourn') }}">Add new Tournament</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('games') }}">History of Games</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('new_game') }}">Start a new Game</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('new_player') }}">Add new Player</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('players') }}">All Players</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav navbar-right">
                                <li><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                    </ul>
                {% else %}
                    <!--<div class="navbar-nav">-->
                    <!--    <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>-->
                    <!--    <a class="nav-item nav-link" href="{{ url_for('login') }}">Log In</a>-->
                    <!--</div>-->

                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Log In</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>

            <!--{% if get_flashed_messages() %}-->
            <!--    <header>-->
            <!--        <div class="alert alert-info" role="alert">-->
            <!--            {{ get_flashed_messages() | join(" ") }}-->
            <!--        </div>-->
            <!--    </header>-->
            <!--{% endif %}-->

            <main class="container p-5">
                {% block main %}{% endblock %}
            </main>

    </body>

</html>
