{% extends "layout.html" %}

{% block title %}
    new_tourn
{% endblock %}

{% block main %}
    <!--<script src="/static/newTourn.js"></script>-->

    <form class="form-group" action="{{ url_for('new_tourn') }}" method="post">

      <div class="form-group d-flex">
        <input type="text" class="form-control" placeholder="First Player" id="p1">
        <input type="text" class="form-control" placeholder="Second Player" id="p2">
        <input type="submit" class="btn btn-secondary btn-sm" value="Add" id="add">
      </div>

      <ol class="list-group" id="olist"></ol>

      <div class="form-group d-flex">
        <input type="date" class="form-control" name="date"/>
        <input type="submit" class="btn btn-secondary btn-sm" value="Save" id="save">
      </div>

    </form>


{% endblock %}