{% extends "layout.html" %}

{% block title %}
    new_tourn
{% endblock %}

{% block main %}
    <!--<script src="/static/newTourn.js"></script>-->

    <form class="form-group" action="{{ url_for('new_tourn') }}" method="post">

      <h2>Add a New Tournament</h1>

      <div class="form-group d-flex">
        <input type="text" class="form-control" placeholder="First Player" id="p1">
        <input type="text" class="form-control" placeholder="Second Player" id="p2">
        <input type="submit" class="btn btn-secondary btn-sm" value="Add" id="add">
      </div>

      <ol class="list-group" id="olist">
        {% for line in roster %}
          <li class="list-group-item"><input type="hidden" value="{{ line.p1 }}, {{ line.p2 }}" name="pla">{{ line.p1 }} {{ line.p2 }}</li>
        {% endfor %}
      </ol>

      <div class="form-group d-flex">
        <input type="date" class="form-control" name="date" required/>
        <input type="text" class="form-control" name="max" placeholder="max. players" required/>

      </div>

      <div class="form-group">
        <select class="form-control" name="location">
          <option>Bucha</option>
          <option>Chudodiyevo</option>
        </select>
      </div>

      <div class="form-group d-none">
        <input type="text" class="form-control" name="t_id" value="{% if roster[0] is defined %}{{ roster[0].t_id }}{% endif %}">
      </div>

      <button type="submit" class="btn btn-primary" value="Save" id="save">Add</button>

    </form>


{% endblock %}