{% extends "layout.html" %}

{% block title %}
    tournaments
{% endblock %}

{% block main %}
    <h1>Tournaments</h1>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date of Tournament</th>
                <th scope="col">Location</th>
            </tr>
        </thead>
        <tbody>
            {% for line in roster %}
                <tr>
                    <th scope="row">{{ line.id }}</th>
                    <td>
                        {{ line.date|datetimeformat }}
                        <a href="{{ url_for('tournament') }}?t_id={{ line.id }}" class="btn btn-primary" role="button"> Open
                    </td>
                    <td>{{ line.location }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}