{% extends "layout.html" %}

{% block title %}
    tournament
{% endblock %}

{% block main %}
    <h3>
        Date - {{roster[0].date|datetimeformat}}, Location - {{roster[0].location}}, Max players - {{roster[0].max_num}}
    </h3>

    <table class="table table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col" style="width:10%">#</th>
                <th scope="col">Team</th>
            </tr>
        </thead>
        <tbody>
            {% for line in roster %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>
                        <div class="pl-container">
                            <p>
                            {{ line.p1 }}
                            </p>
                        </div>

                        <p>
                            {{ line.p2 }}
                        </p>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <a href="{{ url_for('new_tourn') }}?t_id={{ roster[0].t_id }}" class="btn btn-primary" role="button">
        Edit
    </a>

{% endblock %}